body {
    margin-top: 100px;
	margin-bottom: 100px;
}

.navbar-brand {
	padding: 5px 15px;
}

.navbar-inverse {
    background-color: #25292a;
    border-bottom-color: #464646;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 80px;
    }

    .navbar-brand {
        padding: 20px 15px;
    }

    .nav.navbar-nav li:first-child {
        margin-left: 50px;
    }

    .nav.navbar-nav li {
        height: 75px;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: white;
        font-size: 16px;
        padding: 27px 20px;
    }

    .navbar-inverse .navbar-nav>li>a:hover {
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
    }
}


/*	MAP	*/
.st0 {
	fill: #8fc73e;
}

.st1 {
	fill: #8fc73e;
	stroke: #FFFFFF;
	stroke-width: 1.5;
}

.st2 {
	fill: none;
	stroke: #A9A9A9;
	stroke-width: 2;
}

#map-container {
	background-color: #e5eae8;
    margin-top: 35px;
}


#US_MAP path.selected,
#US_MAP circle.selected {
	fill: #00b140;
}

#US_MAP path:hover,
#US_MAP circle:hover {
	fill: #eb1676;
}

#US_MAP path:first-child:hover {
	fill: transparent;
}




/*	VOTING INTENTION 	*/
.yes-no-buttons {
    width: 80%;
    margin: auto !important;
}

.yes-no-buttons .progress {
    background-color: #ff4136;
}

.yes-no-buttons .btn-group-justified {
    margin: 40px 0px;
}

.yes-no-buttons a {
    width: 50% !important;
    height: 100px;
    font-size: 30px;
}

.FALSE .option-true,
.TRUE .option-false,
.FALSE .option-true:hover,
.TRUE .option-false:hover, 
.HILLARY .option-trump,
.TRUMP .option-hillary, 
.HILLARY .option-trump:hover,
.TRUMP .option-hillary:hover {
    background: #717171;
    border-color: #a3a3a3;
}

.btn-primary {
    float: right;
}



/*	VOTING CANDIDATE	*/
.candidate {
	display: none;
}

.TRUE .candidate {
	display: initial;
}

.image-container {
    width: 100%;
    margin-bottom: -40px;
    margin-top: 40px;
}

.image-container img {
    width: 50%;
}




/*  GRAPHS  */
.ct-label {
    font-size: 18px;
    fill: white;
}

.nationwide-intention .ct-series-a path {
    fill: #ff4136;
}

.nationwide-intention .ct-series-b path {
    fill: #00b140;
}

.nationwide-candidate .ct-series-a path {
    fill: #ff4136;
}

.nationwide-candidate .ct-series-b path {
    fill: #75caeb;
}

.chart-labels .label:before {
    content: '';
    height: 20px;
    width: 20px;
    background: #ff4136;
    font-size: 16px;
    position: absolute;
    margin-left: -25px;
}

.chart-labels .label {
    color: #25292a;
    font-size: 16px;
    display: block;
    text-align: left;
    margin-left: 25px;
}

.chart-labels {
    margin-top: 25px;
}

.chart-labels .label.voting:before {
    background: #ff4136;
}

.chart-labels .label.not-voting:before {
    background: #00b140;
}

.chart-labels .label.trump:before {
    background: #ff4136;
}

.chart-labels .label.hillary:before {
    background: #75caeb;
}


